<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab">Todas</a></li>
        <li><a href="#A" data-toggle="tab">A</a></li>
        <li><a href="#B" data-toggle="tab">B</a></li>
        <li><a href="#C" data-toggle="tab">C</a></li>
        <li><a href="#D" data-toggle="tab">D</a></li>
        <li><a href="#1" data-toggle="tab">E</a></li>
        <li><a href="#1" data-toggle="tab">F</a></li>
        <li><a href="#1" data-toggle="tab">G</a></li>
        <li><a href="#1" data-toggle="tab">G</a></li>
        <li><a href="#1" data-toggle="tab">H</a></li>
        <li><a href="#1" data-toggle="tab">I</a></li>
        <li><a href="#1" data-toggle="tab">J</a></li>
        <li><a href="#1" data-toggle="tab">K</a></li>
        <li><a href="#1" data-toggle="tab">L</a></li>
        <li><a href="#1" data-toggle="tab">M</a></li>
        <li><a href="#1" data-toggle="tab">N</a></li>
        <li><a href="#1" data-toggle="tab">O</a></li>
        <li><a href="#1" data-toggle="tab">P</a></li>
        <li><a href="#1" data-toggle="tab">Q</a></li>
        <li><a href="#1" data-toggle="tab">R</a></li>
        <li><a href="#1" data-toggle="tab">S</a></li>
        <li><a href="#1" data-toggle="tab">T</a></li>
        <li><a href="#1" data-toggle="tab">U</a></li>
        <li><a href="#1" data-toggle="tab">V</a></li>
        <li><a href="#1" data-toggle="tab">W</a></li>
        <li><a href="#1" data-toggle="tab">X</a></li>
        <li><a href="#1" data-toggle="tab">Y</a></li>
        <li><a href="#1" data-toggle="tab">Z</a></li>
    </ul>
</div>
