<div id="alphabetic" class="tabbable tabs-right">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#search/all" data-toggle="tab">Todas</a></li>
        <li><a href="#search/0-9" data-toggle="tab">0-9</a></li>
        <li><a href="#search/A" data-toggle="tab">A</a></li>
        <li><a href="#search/B" data-toggle="tab">B</a></li>
        <li><a href="#search/C" data-toggle="tab">C</a></li>
        <li><a href="#search/D" data-toggle="tab">D</a></li>
        <li><a href="#search/E" data-toggle="tab">E</a></li>
        <li><a href="#search/F" data-toggle="tab">F</a></li>
        <li><a href="#search/G" data-toggle="tab">G</a></li>
        <li><a href="#search/H" data-toggle="tab">H</a></li>
        <li><a href="#search/I" data-toggle="tab">I</a></li>
        <li><a href="#search/J" data-toggle="tab">J</a></li>
        <li><a href="#search/K" data-toggle="tab">K</a></li>
        <li><a href="#search/L" data-toggle="tab">L</a></li>
        <li><a href="#search/M" data-toggle="tab">M</a></li>
        <li><a href="#search/N" data-toggle="tab">N</a></li>
        <li><a href="#search/O" data-toggle="tab">O</a></li>
        <li><a href="#search/P" data-toggle="tab">P</a></li>
        <li><a href="#search/Q" data-toggle="tab">Q</a></li>
        <li><a href="#search/R" data-toggle="tab">R</a></li>
        <li><a href="#search/S" data-toggle="tab">S</a></li>
        <li><a href="#search/T" data-toggle="tab">T</a></li>
        <li><a href="#search/U" data-toggle="tab">U</a></li>
        <li><a href="#search/V" data-toggle="tab">V</a></li>
        <li><a href="#search/W" data-toggle="tab">W</a></li>
        <li><a href="#search/X" data-toggle="tab">X</a></li>
        <li><a href="#search/Y" data-toggle="tab">Y</a></li>
        <li><a href="#search/Z" data-toggle="tab">Z</a></li>
    </ul>
</div>
